* {
    margin : 0;
    padding : 0;
    font-family: 'Barlow', sans-serif;
    background: #000;
}

.countdown h1 a {
    text-decoration: none;
    color : white;
    -webkit-transition: letter-spacing .6s ease;
    transition: letter-spacing .6s ease;
}

.countdown h1 a:hover {
    text-decoration: none;
    color : white;
    letter-spacing: 10px;
    -webkit-transition: letter-spacing .6s ease;
    transition: letter-spacing .6s ease;
}

p, h1, h2, i {
    color: white;
}

.serif {
    font-family: 'EB Garamond', serif;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0px;
}

.countdown {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* .count {
    
    
    padding: 5px;
    border: solid 5px white;
    border-radius: 5px;
} */

h1 {
    font-size: 4em;
}
